#name {
	background-image: url("bg4.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 100px;
	text-align: center;
}
.container {
	margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  width: 700px;
}

.image {
  display: block;
  width: 100%;
  height: 700px;
  position: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  height: 100%;
}

.text {
  white-space: nowrap;
  text-align: center; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}